.box {
    width: 100%;
    height: 89.7vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
}

.informacoes {
    background-color: black;
    padding: 3rem;
    border-radius: 5px;
    animation: flash 2s;
}

.informacoes h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1.5rem;
}

.informacoes h2 {
    color: white;
    font-family: "Roboto", sans-serif;
}

@keyframes flash {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
