* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #007f3c;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #5cb43c;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

